@page
@model WebApplication1.Pages.FormSide
@{
    
}
<div class="jumbotron jumbotron-fluid" id="chef-jumbotron">
  <div id="request-info">
    <em>RequestMethod</em>: @Model.RequestMethod  <em>RequestInfo</em>: @Model.RequestValues
  </div>
  <div id="jumbotron-main-text">
    <h1>Form Side</h1>
    <p>A place post </p>
  </div>
</div>

<div class="row">
    <div class="col">
        <partial name="_FormTask"/>
    </div>
    <div class="col">
        <h3>Your task</h3>
        <hr>
        @foreach(var item in Model.listItem){
        <div class="blog-post">
            <h2 class="blog-post-title">@item.Name</h2>
            <p class="blog-post-meta">Cost: @item.Cost</p>
            <p class="blog-post-meta">Calories: @item.Calories</p>
            <p class="blog-post-meta">More detail: @item.Detail</p>
        </div>
        }
    </div>
</div>